<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kirjaudu nakkilista - kaikkitietokoneista</title>
    <link rel="stylesheet" href="/paper.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <center><h2>Nakkilista kirjaudu</h2></center>
    <div class="container paper">
      <% if (virhe) {%>
        <div class="alert alert-danger"><%= virhe %></div>
      <% } %>
      <% if (onnistui) { %>
        <div class="alert alert-success"><%= onnistui %></div>
      <% } %>
      <p>Eikö ole tiliä? Rekisteröidy <a href="/rekisteroidy">tästä</a>.</p>
      <form action="/tunnistaudu" method="post">
        <div class="row">
          <div class="col sm-4">
            <div class="form-group">
              <label for="username">Käyttäjänimi</label>
              <input class="input-block" required name="kayttajanimi" type="text" id="username">
            </div>
          </div>
          <div class="col sm-8">
            <div class="form-group">
              <label for="password">Salasana</label>
              <input class="input-block" required name="salasana" type="password" id="password">
            </div>
          </div>
          <button class="btn-secondary">Kirjaudu</button>
        </form>
      </div>
    </div>
  </body>
</html>
