<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nakkilista - kaikkitietokoneista</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/paper.css">
  </head>
  <body>
    <center><h2>Nakkilista - API docs</h2></center>
    <div class="row">
  <div class="collapsible">
    <input id="collapsible5" type="radio" name="collapsible">
    <label for="collapsible5">Käyttäjän luominen</label>
    <div class="collapsible-body">
      <span>
        Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible6" type="radio" name="collapsible">
    <label for="collapsible6">Tunnistautuminen</label>
    <div class="collapsible-body">
      <span>
        Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle.
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible7" type="radio" name="collapsible">
    <label for="collapsible7">Lista tehtävistä</label>
    <div class="collapsible-body">
      <span>
        Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible8" type="radio" name="collapsible">
    <label for="collapsible8">Muutoksien tallennus</label>
    <div class="collapsible-body">
      <span>
        Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle.
      </span>
    </div>
  </div>
</div>
  </body>
</html>
