<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nakkilista - kaikkitietokoneista</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/paper.css">
  </head>
  <body>
    <center><h2>Nakkilista - API docs</h2></center>
    <div class="row">
  <div class="collapsible">
    <input id="collapsible5" type="radio" name="collapsible">
    <label for="collapsible5">Käyttäjän luominen</label>
    <div class="collapsible-body">
      <span>
        Palvelimelle voi rekisteröityä kuka tahansa lähettämällä GET-pyynnön polkuun /api/rekisteroidy. Tähän pyyntöön tulee lisätä käyttäjänimi ja salasana GET-parametreina. Vastaus tulee JSON-muodossa. Alla on koodiesimerkkejä.<br>
        <br>
        <b>JavaScript (jQuery):</b>
        <pre><code>
          $.get("/api/rekisteroidy", {
            kayttajanimi: "DemoKäyttäjä", salasana:"testi123!"
          });
        </code></pre>
        <b>JavaScript (Node.JS):</b>
        <pre><code>
          const http = require('http');

          const options = {
            host: 'nakkilista.kaikkitietokoneista.net',
            path: '/api/rekisteroidy?kayttajanimi=DemoKäyttäjä&salasana=testi123!'
          };

          const req = http.get(options, function(res) {
            var palaset = [];
            res.on('data', function(chunk) {
              palaset.push(chunk);
            }).on('end', function() {
              var vastaus = Buffer.concat(palaset);
              console.log(vastaus);
            })
          });

          req.on('error', function(e) {
            console.log('VIRHE: ' + e.message);
          });
        </code></pre>
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible6" type="radio" name="collapsible">
    <label for="collapsible6">Tunnistautuminen</label>
    <div class="collapsible-body">
      <span>
        Tunnistautuminen palvelimelle tapahtuu lähettämällä GET-pyynnön polkuun /api/tunnistaudu. Tähän pyyntöön tulee lisätä käyttäjänimi ja salasana GET-parametreina. Vastaus tulee JSON-muodossa. Palvelin tunnistaa käyttäjän myöhemmin sessioevästeen avulla. Alla on koodiesimerkkejä.<br>
        <br>
        <b>JavaScript (jQuery):</b>
        <pre><code>
          $.get("/api/tunnistaudu", {
            kayttajanimi: "DemoKäyttäjä", salasana:"testi123!"
          });
        </code></pre>
        <b>JavaScript (Node.JS):</b>
        <pre><code>
          const http = require('http');

          const options = {
            host: 'nakkilista.kaikkitietokoneista.net',
            path: '/api/tunnistaudu?kayttajanimi=Erikoisjaakari&salasana=testi123'
          };

          const req = http.get(options, function(res) {
            var palaset = [];
            res.on('data', function(chunk) {
              palaset.push(chunk);
            }).on('end', function() {
              var vastaus = Buffer.concat(palaset);
              console.log(vastaus);
            })
          });

          req.on('error', function(e) {
            console.log('VIRHE: ' + e.message);
          });
        </code></pre>
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible7" type="radio" name="collapsible">
    <label for="collapsible7">Lista tehtävistä</label>
    <div class="collapsible-body">
      <span>
        Tehtävien pyytäminen palvelimelta tapahtuu lähettämällä GET-pyynnön polkuun /api/tehtavat. Tämän pyynnön lähettäminen on mahdollista vain kirjautuneena (palvelin tunnistaa session evästeestä). Vastaus tulee JSON-muodossa. Alla on koodiesimerkkejä.<br>
        <br>
        <b>JavaScript (jQuery):</b>
        <pre><code>
          $.get("/api/tunnistaudu", function(data){
            console.log(data);
          });
        </code></pre>
        <b>JavaScript (Node.JS):</b>
        <pre><code>
          const http = require('http');

          const options = {
            host: 'nakkilista.kaikkitietokoneista.net',
            path: '/api/tunnistaudu'
          };

          const req = http.get(options, function(res) {
            var palaset = [];
            res.on('data', function(chunk) {
              palaset.push(chunk);
            }).on('end', function() {
              var vastaus = Buffer.concat(palaset);
              console.log(vastaus);
            })
          });

          req.on('error', function(e) {
            console.log('VIRHE: ' + e.message);
          });
        </code></pre>
      </span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible8" type="radio" name="collapsible">
    <label for="collapsible8">Muutoksien tallennus</label>
    <div class="collapsible-body">
      <span>
        Muutoksien tallentaminen palvelimelle tapahtuu lähettämällä GET-pyynnön polkuun /api/tallenna. Tähän pyyntöön tulee lisätä tehdyt tehtävät (done) ja tekemättömät (todos) GET-parametreina. Eri tehtävät erotellaan alaviivoin. Vastaus tulee JSON-muodossa. Palvelin tunnistaa käyttäjän myöhemmin sessioevästeen avulla. Alla on koodiesimerkkejä.<br>
        <br>
        <b>JavaScript (jQuery):</b>
        <pre><code>
          $.get("/api/tallenna", {
            done: "Pese pyykit_Viikkaa vaatteet", todos:"Imuroi autotalli_Maalaa olohuone"
          });
        </code></pre>
        <b>JavaScript (Node.JS):</b>
        <pre><code>
          const http = require('http');

          const options = {
            host: 'nakkilista.kaikkitietokoneista.net',
            path: '/api/tallenna?done=Pese pyykit_Viikkaa vaatteet&todos=Imuroi autotalli_Maalaa olohuone'
          };

          const req = http.get(options, function(res) {
            var palaset = [];
            res.on('data', function(chunk) {
              palaset.push(chunk);
            }).on('end', function() {
              var vastaus = Buffer.concat(palaset);
              console.log(vastaus);
            })
          });

          req.on('error', function(e) {
            console.log('VIRHE: ' + e.message);
          });
        </code></pre>
      </span>
    </div>
  </div>
</div>
  </body>
</html>
